* {
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 600;
}

.navbar {
  min-height: 80px;
}

.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
}

.navbar-toggle {
  margin-top: 23px;
  padding: 9px 10px !important;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
  margin-top: 60px;
  
}

.header {
  text-align: center;
  
}

.products {
  list-style: none;
  
}

.product-image {
  height: 230px;
  border: 2px solid grey;
  width: 200px;
}

/* .product-name {
  text
} */