* {
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 600;
}

.navbar {
  min-height: 80px;
}

.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
}

.navbar-toggle {
  margin-top: 23px;
  padding: 9px 10px !important;
}

/* ******************************* */


.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
  margin-top: 60px;
  
}

.header {
  text-align: center;
  
}


/* ********************************* */

.products {
  list-style: none;
  margin-top: 10%;
  
}

.product-image {
  height: 230px;
  border: 2px solid grey;
  width: 200px;
}

.product-image:hover {
  opacity: 60%;

}

.back-button {
  text-align: left;
}

/*  */
.navBar {
  background-color: black;
}

.brand-Logo {
  font-size: 40px;
}

.home-top-row {
  border: 2px solid black;
  height: 440px;
  background-color: #DCAE63;
}

.top-header {
  font-family: 'Homemade Apple', cursive;
}

.header-photo {
  height: 436px;
  opacity: 80%;
}

.home-top-row-header {
  text-align: center;
  font-size:50px;
  margin-top: 150px;
  color: white;
}

.home-second-row {
  background-color: black;
}

.home-image-left {
  padding: 20px;
  opacity: 80%;
}

/*  */
.loginContainer {
  width: 50%;
  margin-left: 25%;
  padding: 10%;
  
}

.login-wrapper {
  background-color: #DCAE63;
  width: 100vw;
  height: 100vh;
}

.log-in-button {
  margin-left: 15px;
}

.shop-left-column {
  width: 100%;
  border: 2px solid red;
}